tqdm
h5py
xlrd==2.0.1
numpy==1.25.2
scipy==1.11.3
pandas
seaborn
jupyter
openpyxl
quantities
matplotlib==3.8.1
joypy
ruamel.yaml
biosppy==1.0.0
hrv-analysis==1.0.4
flirt==0.0.2
biopsykit==0.9.0
neurokit2==0.2.6
pytz==2023.3.post1
pymc==5.9.1
arviz==0.16.1
